.example-card {
    margin: auto;
    max-width: 400px;
    width: 50%; border: 3px solid green; padding: "10px";
   align-content: center;
   align-items: center;
   justify-items: center;
   justify-content: center;
   display:  grid;

  
  }
  .mat-form-field {
      display: flex;
      align-items: center;
  }
  