
.sidenav-container {
  height: 100%;
  background-color: rgb(232, 232, 232);
  
}

.sidenav {
  width: 200px;
 margin-top: 3.4%;

 
}

.sidenav a:hover{
  background-color: antiquewhite;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: rgba(10, 205, 29, 0.945);
  border-radius: 50%;
  display: inline-block;
}