<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Gym City</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let item of menuItems; let i = index"
        mat-list-item
        [routerLink]="'/' + menuLinks[i]"
        (click)="setPageName(menuItems[i])"
      >
        {{ item | titlecase }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="navbar navbar-expand navbar-dark">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span>{{ pageName }}</span>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="dot"></span>

            <span *ngFor="let item of connected"> {{ item }}</span>
          </li>
        </ul>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
